In [108]:
import pandas as pd
from datetime import datetime
from sklearn.linear_model import LinearRegression
import numpy as np

In [7]:
df = pd.read_csv('sphist.csv')
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883

In [13]:
df.Date = pd.to_datetime(df.Date)

In [34]:
df = df.loc[df.Date.sort_values().index]

In [44]:
old_index = df.index

In [41]:
new_index = range(0,len(df))

In [47]:
df = df.rename(index=dict(zip(old_index,new_index)))

In [51]:
r5 = df.rolling(window=5)

In [58]:
r30 = df.rolling(window=30)

In [75]:
r365 = df.rolling(window=365)

In [54]:
r5.Close.mean().shift(1)

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
5          16.900000
6          16.974000
7          17.022000
8          16.988000
9          16.926000
10         16.854000
11         16.820000
12         16.772000
13         16.794000
14         16.840000
15         16.880000
16         16.880000
17         16.858000
18         16.830000
19         16.814000
20         16.834000
21         16.872000
22         16.934000
23         17.034000
24         17.128000
25         17.188000
26         17.224000
27         17.256000
28         17.266000
29         17.256000
            ...
16560    2042.205981
16561    2049.709961
16562    2056.733936
16563    2071.015967
16564    2078.395947
16565    2079.237988
16566    2085.812012
16567    2094.592041
16568    2096.984033
16569    2099.088037
16570    2103.056006
16571    2097.962012
16572    2092.347998
16573    2086.885986
16574    2076.093994
16575    2060.862012
16576    2055.783984
16577    2049.527978
16578    2051.243994
16579    2058.297998
16580    2071.523974
16581    2078.204004
16582    2085.943994
16583    2087.002002
16584    2088.776025
16585    2087.024023
16586    2090.231982
16587    2088.306006
16588    2080.456006
16589    2080.771973
Name: Close, Length: 16590, dtype: float64

In [70]:
df['r5mean'] = r5.Close.mean().shift(1)

In [71]:
df['r30mean'] = r30.Close.mean().shift(1)

In [76]:
df['r365mean'] = r365.Close.mean().shift(1)

In [78]:
df['r5r365meanratio'] = df.r5mean / df.r365mean

In [83]:
df['r5std'] = r5.Close.std().shift(1)

In [85]:
df['r365std'] = r365.Close.std().shift(1)

In [86]:
df['r5r365stdratio'] = df.r5std / df.r365std

In [92]:
df = df.dropna()

In [100]:
train = df[df.Date < datetime(year=2013, month=1, day=1)]

In [101]:
test = df[df.Date >= datetime(year=2013, month=1, day=1)]

In [106]:
feat_cols = train.columns.drop(['Close','High','Low','Open','Volume','Adj Close','Date'])

In [109]:
lr = LinearRegression()
lr.fit(train[feat_cols], train.Close)
preds = lr.predict(test[feat_cols])
mae = np.mean(abs(preds - test.Close))
mae

16.145140609743674